<h1>ふぉと</h1>

<p>みんなと一緒に楽しく過ごした記録をラフに残していきます！</p>

<script src="//www.powr.io/powr.js" external-type="jimdo" type="text/javascript">
</script><script type="text/javascript">
//<![CDATA[
typeof loadPowr!="undefined" ? loadPowr() : null
//]]>
</script>
<div class="powr-instagram-feed" id="1f0d6ab0_1485606711521">
</div>
