<h1>MICS</h1>
<h2>愛知メモリアルスポーツサークル</h2>
<h3>運動を全力で楽しみ最高の仲間を作る</h3>

<p>
  名古屋一ゆるふわなサークルを目指してます！<br>
  やりたいと思ったスポーツイベントに自由に参加していただき、スポーツを通して気の合う仲間を見つけてください。<br>
  MICSのメンバーはみんな感謝の気持ちや心遣いをもった素敵な人達ばかりです。<br>
  MICSのイベントはスポーツだけではありません。<br>
  MICSは<strong>スポーツを全力で楽しむこと</strong>の他に<strong>最高の仲間を作ること</strong>も目的としているため、ただ集まってスポーツするだけではなく<br>
  ときには飲み会・BBQ・バンガロー・キャンプ・海・スノボー合宿等のイベントも企画させていただいております。<br>
  これからも楽しいイベントを継続して企画していく予定ですので、たくさんのイベントを通してメンバー同士の仲を深めていただければ嬉しいです。<br>
</p>

<%= link_to image_tag("mics_logo.png", alt: "MICS logo"),
    'https://mics-nagoya.jimdo.com/' %>

<div class="row">
  <div class="col-md-12">
    <h3>イベント一覧</h3>
    <ol class="events">
      <%= render @events %>
    </ol>
  </div>
</div>

<h3>活動内容</h3>
<h4>年間スケジュール</h4>
<h4>月間スケジュール</h4>

<h3>大事にしてほしいこと</h3>

<h3>参加フォーム</h3>
