<h1>代表挨拶</h1>

<p> こんにちは！</p>
 
<p>ミックス代表<strong>あほやぎ</strong>です。</p>
 
<p>ここでは自分のこととサークルを立ち上げたきっかけを話そうと思います。</p>
<p>hogehoge</p>
<p>少しでも興味があったり共感してくる方がいましたら、一緒に大人でも青春を楽しめることを証明しましょう！！</p>
<p>社会人は自ら動かない限り、新たな出会いやわくわくは起こらないことが多いです。</p>
<p>もし社会人になって新たな刺激がなくて日々の生活がつまらないと感じている方がいたらぜひ行動を起こしてみてください！</p>
<p>楽しいサークルをみんなで作っていきましょう！ ご連絡お待ちしてます！！</p>
<p>質問だけでもなんでもお待ちしております。</p>
